{% extends "products/base.html" %} {% block title %} Products {% endblock title%} {% block content %} {% for product in products %}

{% comment %} templates/products/product_list.html {% endcomment %}
<div class="card" style="width: 18rem">
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.price}} ₽</p>
        <a
                href="{% url 'products:product-detail' product.id %}"
                class="btn btn-primary">
            Перейти
        </a>
    </div>
</div>
{% endfor %} {% endblock content %}